h1 {
    font-size: 2em;
    color: #0076da;
}

label {
    color: #a3a3a3;
    font-weight: 400;
    text-align: center;
}

input {
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.02);
    border-radius: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.04);
    height: 40px;
    width: 30vw;
}

input:focus {
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 20px;
    box-sizing: border-box;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 3;
}

.field {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.btn-submit {
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(to right, #0076da, #3ab4ec);
    border: 0;
    border-radius: 5em;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    height: 40px;
    width: 20vw;
}